
<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(to bottom left, #302244 0%, #ffffff 105%);">
    <div class="container">
      <h3 style="text-align: center;color: white;padding: 60px;padding-top: 80px; font-size: 45px;">Qui sommes nous ?</h3>
      <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
    </div>
</div><br><br>

<div class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
                <!-- <h3 style="text-align: center;">PRÉSENTATION GÉNÉRALE</h3><br> -->
            <div style="text-align: justify;">
                <p>
                    <b>GSTORE PLUS SARL</b>, née d'une volonté manifeste d'apporter un souffle nouveau dans le domaine de l'immobilier en général, exerce également dans le E-commerce, formation en éducation financière, assistance et conseils, voyage.
                    elle se veut le portail des visionnaires de demain et le leader du developpement en Côte d'Ivoire.
                </p>
                <p>
                    <b>GSTORE PLUS SARL</b> est basée à  <strong>Abidjan Cocody - Cité des arts rue Marcelin yacé - immeuble C face à l'école EDHEG
                  3ème étage porte 2 </strong>, c'est une entreprise composée de jeunes dynamiques,ambitieux et forts à votre écoute pour vous conseiller et vous proposer une palette de programmes et services nationaux et internationaux nécessaires à votre épanouissement et à votre liberté financière.
                    <b>GSTORE PLUS SARL</b> est dirigée par un gérant entouré d'une équipe pluridisciplinaire de collaborateurs,sans oublier que pour opérer éfficacement, elle s'est donnée les moyens matériels humains appuyés par un support de partenaires techniques et financiers.
                </p>
            </div>
        </div>
    </div>
</div><br><br>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align: center;font-weight: bold;">
               <span style="text-transform: uppercase;color: red;">Prestations</span>
               <h3>Nos Différentes Prestations</h3>
           </div>
        </div>
    </div><br><br>
    <div class="row">
        <!-- <div class="col-md-4">
            <img src="../../assets/img/city3.jpg" class="d-block w-100" alt="">
        </div> -->
        <div class="offset-md-1 col-md-5 mb-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div>
                <h1 style="color: red;">Investissement immobilier</h1>
                <ul style="list-style-type:circle">
                    <li>Promotion immobilière</li>
                    <li>Construction & réhabilitation de logement</li>
                    <li>Gestion immobilière</li>
                </ul>
            </div>
        </div>
        <div class="col-md-5 mb-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div>
                <h1 style="color: red;">Investissement foncier</h1>
                <ul style="list-style-type:circle">
                    <li>lotissement & Amenagement</li>
                    <li>Promotion et commercialisation de terrains urbains</li>
                    <li>Assistance pour l'acquisition de l'ACD</li>
                    <li>Conseil et assistance</li>
                </ul>
            </div>
        </div>
    </div>
  <div class="row">
    <!-- <div class="col-md-4">
        <img src="../../assets/img/city3.jpg" class="d-block w-100" alt="">
    </div> -->
    <div class="offset-md-1 col-md-5 mb-3 d-flex justify-content-center counter-wrap ftco-animate">
      <div>
        <h1 style="color: red;">Formation et Conseil</h1>
       <!-- <ul style="list-style-type:circle">
          <li>Promotion immobilière</li>
          <li>Construction & réhabilitation de logement</li>
          <li>Gestion immobilière</li>
        </ul>-->
      </div>
    </div>
    <div class="col-md-5 mb-3 d-flex justify-content-center counter-wrap ftco-animate">
      <div>
        <h1 style="color: red;">E-commence & Voyage</h1>
     <!--   <ul style="list-style-type:circle">
          <li>lotissement & Amenagement</li>
          <li>Promotion et commercialisation de terrains urbains</li>
          <li>Assistance pour l'acquisition de l'ACD</li>
          <li>Conseil et assistance</li>
        </ul>-->
      </div>
    </div>

  </div>

</div><br><br><br>


<div class="container">
    <div class="row">
       <div class="col-md-6 col-lg-4 mb-3 d-flex justify-content-center counter-wrap ftco-animate">
           <div style="text-align: center;">
               <!-- <span><i class="fa fa-map-marker" aria-hidden="true" style="font-size: 50px;color: red;"></i></span> -->
               <span><img src="../../assets/img/icon-vision.png" alt=""></span>
               <h4>Le professionnalisme au cœur de notre activité</h4>
               <p style="text-align: justify;">Une équipe d’experts dans la conception, la réalisation et le suivi de différents projets de développement. Nous gérons tous nos programmes en organisant, dirigeant des personnes de valeur avec une technologie de pointe de dernière génération.</p>
       </div>
       </div>
         <div class="col-md-6 col-lg-4 mb-3 d-flex justify-content-center counter-wrap ftco-animate">
           <div style="text-align: center;">
               <!-- <span><i class="fa fa fa-handshake-o" aria-hidden="true" style="font-size: 50px;color: red;"></i></span> -->
               <span><img src="../../assets/img/icon-mission.png" alt=""></span>
               <h4>Une expertise diversifiée et maitrisée</h4>
               <p style="text-align: justify;">Nous offrons des services de conception, de programmes bien structurés adaptés aux besoins du moment. Notre expertise part de la conception de nouveaux lotissements jusqu'à la réalisation de programmes immobiliers en passant par l'ammenagement foncier.</p>
           </div>
       </div>
         <div class="col-md-6 col-lg-4 mb-3 d-flex justify-content-center counter-wrap ftco-animate">
           <div style="text-align: center;">
               <!-- <span><i class="fa fa-check" aria-hidden="true" style="font-size: 50px;color: red;"></i></span> -->
               <span><img src="../../assets/img/icon-background.png" alt=""></span>
               <h4>La satisfaction du client, notre priorité</h4>
               <p style="text-align: justify;">Toujours préocupés par l'épanouillessement de nos semblables, nos differents programmes visent à créer un cadre de vie agreable et sain pour notre clientèle qui est la priorité de toutes nos actions. L'amour vrai crée de l'amitié, GSTOREPUS, un ami plus q'un partenaire.</p>
           </div>
       </div>
    </div>
</div><br><br>

