<div class="container">
    <div class="grande">
        <div class="row">
            <div class="col-md-12">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                          <img src="/assets/Images/font.jpg" class="d-block w-100">
                      </div>
                      <div class="carousel-item">
                        <img src="/assets/Images/font1.jpg" class="d-block w-100">
                      </div>
                      <div class="carousel-item">
                        <img src="/assets/Images/font2.jpg" class="d-block w-100">
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-icon">
        <div class="col-md-4">
            <div class="card text-center card-icon">
                <div class="card-body">
                    <i class="fa fa-send"></i>
                    <h6>Géolocaliser votre terrain</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center card-icon">
                <div class="card-body">
                    <i class="fa fa-thumbs-o-up"></i>
                    <h6>Livraison garantie</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center card-icon">
                <div class="card-body">
                    <i class="fa fa-check"></i>
                    <h6>Rapide et éfficace</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-12 pb-3">
            <p class="para"><span class="new">NEWS</span>Vous Pouvez géolocaliser votre terrain depuis votre maison</p>
            <div class="text-terrain">
                <p>Terrain déjà disponible</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="./assets/Images/Image7.jpeg" class="img-fluid" alt="">
                </div>
                <div class="card card-p">
                    <p class="titre-p ml-3 pt-2">Nom du terrain</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="./assets/Images/Image7.jpeg" class="img-fluid" alt="">
                </div>
                <div class="card card-p">
                    <p class="titre-p ml-3 pt-2">Nom du terrain</p>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="row pt-5">
        <div class="col-md-12 pb-3">
            <div class="text-terrain">
                <p>Maison déjà disponible</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="./assets/Images/Image7.jpeg" class="img-fluid" alt="">
                </div>
                <div class="card card-p">
                    <p class="titre-p ml-3 pt-2">Nom du terrain</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="./assets/Images/Image7.jpeg" class="img-fluid" alt="">
                </div>
                <div class="card card-p">
                    <p class="titre-p ml-3 pt-2">Nom du terrain</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row pt-4">
        <div class="col-md-4">
            <hr class="trait-produit">
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <h3 class="nos-produits">nos produits</h3>
            </div>
        </div>
        <div class="col-md-4">
            <hr class="trait-produit">
        </div>
    </div>
    <div class="row justify-content-center">
        <nav class="navbar navbar-expand-lg navbar-light " style="overflow-x: auto;">
            <ul class="navbar-nav " id="deuxieme">
                <li class="nav-item categorie">
                    <a (click)="activeCategorie(0)" class="nav-link">
                        Catégorie Terrain 1
                    </a>
                </li>
                <li class="nav-item categorie">
                    <a (click)="activeCategorie(1)" class="nav-link">
                        Catégorie Terrain 2
                    </a>
                </li>
                <li class="nav-item categorie">
                    <a (click)="activeCategorie(2)" class="nav-link">
                        Catégorie Terrain 3
                    </a>
                </li>
                <li class="nav-item categorie">
                    <a (click)="activeCategorie(3)" class="nav-link">
                        Catégorie Terrain 4
                    </a>
                </li>
                <li class="nav-item categorie">
                    <a (click)="activeCategorie(4)" class="nav-link">
                        Catégorie Terrain 5
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row pt-4">
        <div class="col-md-3">
            <div class="card card-terrain">
                <img src="./assets/Images/Image10.jpeg" class="card-img-top" alt="">
                <a href="#" class="badge-corner-like">
                    <span class="fa fa-heart"></span>
                </a>
                <a href="#" class="badge-corner">
                    <span>50%</span>
                </a>
                <div class="card-body text-center ">
                    <h6>Nom du terrain</h6>
                    <p>1 000 000 Fcfa</p>
                    <button class="btn btn-primary btn-acheter">Détails</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-terrain">
                <img src="./assets/Images/Image11.jpeg" class="card-img-top" alt="">
                <a href="#" class="badge-corner-like">
                    <span class="fa fa-heart"></span>
                </a>
                <a href="#" class="badge-corner">
                    <span>50%</span>
                </a>
                <div class="card-body text-center ">
                    <h6>Nom du terrain</h6>
                    <p>1 000 000 Fcfa</p>
                    <button class="btn btn-primary btn-acheter">Détails</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-terrain">
                <img src="./assets/Images/Image12.jpeg" class="card-img-top" alt="">
                <a href="#" class="badge-corner-like">
                    <span class="fa fa-heart"></span>
                </a>
                <a href="#" class="badge-corner">
                    <span>50%</span>
                </a>
                <div class="card-body text-center ">
                    <h6>Nom du terrain</h6>
                    <p>1 000 000 Fcfa</p>
                    <button class="btn btn-primary btn-acheter">Détails</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-terrain">
                <img src="./assets/Images/Image13.jpeg" class="card-img-top" alt="">
                <a href="#" class="badge-corner-like">
                    <span class="fa fa-heart"></span>
                </a>
                <a href="#" class="badge-corner">
                    <span>50%</span>
                </a>
                <div class="card-body text-center ">
                    <h6>Nom du terrain</h6>
                    <p>1 000 000 Fcfa</p>
                    <button class="btn btn-primary btn-acheter">Détails</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-md-3">
            <div class="card card-terrain">
                <img src="./assets/Images/Image14.jpeg" class="card-img-top" alt="">
                <a href="#" class="badge-corner-like">
                    <span class="fa fa-heart"></span>
                </a>
                <a href="#" class="badge-corner">
                    <span>50%</span>
                </a>
                <div class="card-body text-center ">
                    <h6>Nom du terrain</h6>
                    <p>1 000 000 Fcfa</p>
                    <button class="btn btn-primary btn-acheter">Détails</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-terrain">
                <img src="./assets/Images/Image15.jpeg" class="card-img-top" alt="">
                <a href="#" class="badge-corner-like">
                    <span class="fa fa-heart"></span>
                </a>
                <a href="#" class="badge-corner">
                    <span>50%</span>
                </a>
                <div class="card-body text-center ">
                    <h6>Nom du terrain</h6>
                    <p>1 000 000 Fcfa</p>
                    <button class="btn btn-primary btn-acheter">Détails</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-terrain">
                <img src="./assets/Images/Image16.jpeg" class="card-img-top" alt="">
                <a href="#" class="badge-corner-like">
                    <span class="fa fa-heart"></span>
                </a>
                <a href="#" class="badge-corner">
                    <span>50%</span>
                </a>
                <div class="card-body text-center ">
                    <h6>Nom du terrain</h6>
                    <p>1 000 000 Fcfa</p>
                    <button class="btn btn-primary btn-acheter">Détails</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-terrain">
                <img src="./assets/Images/Image9.jpeg" class="card-img-top" alt="">
                <a href="#" class="badge-corner-like">
                    <span class="fa fa-heart"></span>
                </a>
                <a href="#" class="badge-corner">
                    <span>50%</span>
                </a>
                <div class="card-body text-center ">
                    <h6>Nom du terrain</h6>
                    <p>1 000 000 Fcfa</p>
                    <button class="btn btn-primary btn-acheter">Détails</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-md-4">
            <hr class="trait-produit">
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <h3 class="nos-produits">Voir plus</h3>
            </div>
        </div>
        <div class="col-md-4">
            <hr class="trait-produit">
        </div>
    </div>
    <div class="grande-gestoci">
        <div class="row justify-content-center">
            <div class="col-md-8 pt-5">
                <div class="card text-center">
                    <div class="card-body">
                        <h5>gstoreplus</h5>
                        <p class="pt-3">La plateforme web qui vient apporter une valeur ajouté dans la transformation digitale de l'immobilier</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
