<div class="container pt-5 mobileFooter">
    <div class="grande">
        <div class="row">
            <div class="col-md-4">
                <img src="./assets/Images/Image1.jpeg" class="img-fluid pt-5 ml-5" alt="">
            </div>
            <div class="col-md-4 pt-5">
                <h6>Liens Utiles</h6>
                <div class="pt-3">
                    <ul class="list">
                        <li class="item">Foncier</li>
                        <li class="item">Immobilier</li>
                        <li class="item">Demande de devis</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 pt-5" >
                <h6>Horaires d'ouverture</h6>
                <div class="pt-3">
                    <ul class="list">
                        <li class="item">Lundi - Vendredi: 08h30 à 18h00</li>
                        <li class="item">Samedi - Dimanche: 08h30 à 15h00</li>
                        <li class="item">Jours férie : 09h30 à 14h00</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row paiement">
            <div class="col-md-10 text-right">
                <div>
                    <p>Méthode de payement
                        <span>
                            <img src="./assets/Images/Visa_Logo.png" class="img-fluid" alt="">
                            <img src="./assets/Images/MasterCard_Logo.svg.png" class="img-fluid" alt="">
                            <img src="./assets/Images/paypal-784404_1280.webp" class="img-fluid" alt="">
                            <img src="./assets/Images/orangeMoney.jpeg" class="img-fluid" alt="">
                            <img src="./assets/Images/pari-foot-avec-mtn-money.webp" class="img-fluid" alt="">
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="row">
            <div class="col-md-12 pt-3 text-center">
                <p>Copyright 2020 <span style="font-weight:600 ;">GSTOREPLUS</span></p>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text">Design By Constant Kouassi +22589876199. </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
