<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/Images/slideboutique.jpg" class="d-block w-100" height="500" alt="...">
        <div class="carousel-caption d-none d-md-block mb-5">
            <h1>GSTOREPLUS Boutique</h1>
            <p>Accédez à notre boutique</p>
            <a routerLink="https://vente.gstoreplus.ci/#/accueil" class="btn btn-danger">Cliquez ici</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/Images/2.jpg" class="d-block w-100" height="500" alt="...">
        <div class="carousel-caption d-none d-md-block mb-5">
            <h1>GSTOREPLUS Immobilier</h1>
            <p>Achetez vous biens immobilier chez nous en toute sécurité.</p>
            <a routerLink="/accueil" class="btn btn-danger">Cliquez ici</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/Images/voyage2.jpg" class="d-block w-100" height="500" alt="...">
        <div class="carousel-caption d-none d-md-block mb-5">
            <h1>GSTOREPLUS Voyage</h1>
            <p>Cliquez ici pour acceder à notre site de voyage</p>
            <a routerLink="" class="btn btn-danger">Cliquez ici</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/Images/formation.jpg" class="d-block w-100" height="500" alt="...">
        <div class="carousel-caption d-none d-md-block mb-5">
          <h1>GSTOREPLUS Formation</h1>
          <p>Cliquez ici pour acceder à notre site de formation</p>
          <a routerLink="" class="btn btn-danger">Cliquez ici</a>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div class="row justify-content-center marquee-rtl col-md-10">
  <div class="col-md-6">
    <h1 style="color: #d32f2f">Site en maintenance</h1>
  </div>
</div>
 <div class="container">
     <div class="row">
        <div class="col-md-6 col-lg-4">
            <div style="text-align: center;">
                <span><i class="fa fa-handshake-o" aria-hidden="true" style="font-size: 50px;color: red;"></i></span>
                <h4>Nos valeurs</h4>
                <p>Une équipe d’experts dans la conception, la réalisation et le suivi de différents projets de développement. Nous gérons tous nos programmes en organisant, dirigeant des personnes de valeur et avec une technologie de pointe de dernière génération..</p>
        </div>
        </div>
          <div class="col-md-6 col-lg-4">
            <div style="text-align: center;">
                <span><i class="fa fa-line-chart" aria-hidden="true" style="font-size: 50px;color: red;"></i></span>
                <h4>Notre Objectif</h4>
                <p>Préocupés par l'epanouillessement de nos semblables, nos differents programmes visent à créer un cadre de vie agreable et sain pour notre clientèle qui est la priorité de toutes nos actions. L'amour vrai crée de l'amitié.</p>
            </div>
        </div>
          <div class="col-md-6 col-lg-4">
            <div style="text-align: center;">
                <span><i class="fa fa-check" aria-hidden="true" style="font-size: 50px;color: red;"></i></span>
                <h4>Notre slogan</h4>
                <p>GSTOREPUS, un ami plus q'un partenaire.</p>
            </div>
        </div>
     </div>
 </div><br><br><br><br>

<div class="container bg-light pt-5">
    <div class="row">
        <div class="col-md-12" >
            <div style="text-align: center;font-weight: bold;">
               <span style="text-transform: uppercase;color: red;">Nos Sites</span>
               <h3 style="font-size: 25px;">Nos Différents Sites</h3>
           </div>
        </div>
    </div>
</div>



<div class="bg-light py-5 service-18">
  <div class="container">
      <div class="row wrap-service-18">
          <div class="col-lg-6">
              <div class="card border-0 mb-4 test">
                  <div class="row no-gutters">
                      <div class="col-md-5 icon-position rounded-left" style="background-image:url('/assets/Images/bm1.jpg')">
                          <div class="icon-round bg-success-gradiant text-white display-5">I</div>
                      </div>
                      <div class="col-md-7">
                          <div class="card-body ml-0 ml-md-3">
                              <p class="font-weight-medium" style="font-size: x-large;text-transform: uppercase;">GSTOREPLUS Immobilier</p>
                              <p>Notre site de l'immobiler pour acheter vos biens immobilier en toute sécurité.</p>
                              <a href="#" class="linking text-underline" style="font-size: 20px;color: red;">Visitez-le ici <i class="ti-arrow-right"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-6">

              <div class="card border-0 mb-4 test">
                  <div class="row no-gutters">
                      <div class="col-md-5 icon-position rounded-left" style="background-image:url('/assets/Images/ecommerce1.jpg')">
                          <div class="icon-round bg-success-gradiant text-white display-5">E</div>
                      </div>
                      <div class="col-md-7">
                          <div class="card-body ml-0 ml-md-3">
                              <p class="font-weight-medium" style="font-size: x-large;text-transform: uppercase;">GSTOREPLUS E-commerce</p>
                              <p>Notre boutique en ligne pour éffectuer vos achats en toute sécurité.</p>
                              <a href="javascript:void(0)" class="linking text-underline" style="font-size: 20px;color: red;">Visitez-le ici <i class="ti-arrow-right"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-6">
              <div class="card border-0 mb-4 test">
                  <div class="row no-gutters">
                      <div class="col-md-5 icon-position rounded-left" style="background-image:url('/assets/Images/voyage.jpg')">
                          <div class="icon-round bg-success-gradiant text-white display-5">V</div>
                      </div>
                      <div class="col-md-7">
                          <div class="card-body ml-0 ml-md-3">
                              <p class="font-weight-medium" style="font-size: x-large;text-transform: uppercase;">GSTOREPLUS Voyage</p>
                              <p>Nous diposons également un service de voyage et nous nous engageons à vous satisfaire</p>
                              <a href="javascript:void(0)" class="linking text-underline" style="font-size: 20px;color: red;">Visitez-le ici</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-6">
              <div class="card border-0 mb-4 test">
                  <div class="row no-gutters">
                      <div class="col-md-5 icon-position rounded-left" style="background-image:url('/assets/Images/for10.webp')">
                          <div class="icon-round bg-success-gradiant text-white display-5">F</div>
                      </div>
                      <div class="col-md-7">
                          <div class="card-body ml-0 ml-md-3">
                              <p class="font-weight-medium" style="font-size: x-large;text-transform: uppercase;">GSTOREPLUS Formation</p>
                              <p>En nous confiant votre formation, Vous n'aurez pas fait le mauvais choix. Nous nous engageons à vous satisfaire</p>
                              <a href="javascript:void(0)" class="linking text-underline" style="font-size: 20px;color: red;">Visitez-le ici <i class="ti-arrow-right"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>
<div class="container bg-light pt-5">
  <div class="row">
    <div class="col-md-12" >
      <div style="text-align: center;font-weight: bold;">
        <span style="text-transform: uppercase;color: red;">Nos Actualités</span>
        <h3 style="font-size: 25px;">Nos Dernières Actualités</h3>
      </div>
    </div>
  </div>
</div>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-blog mb-5">
        <div class="card-image">
          <a href="#"> <img class="img" src="assets/Images/blog01.jpeg"> </a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h6 class="category text-success"> <span><i class="fa fa-newspaper-o"></i> Actualités </span> <span style="text-align: right;margin-left:60px;color: black;"><i class="fa fa-eye"> &nbsp;39 fois</i></span></h6>
          <h4 class="card-caption">
            <a href="#">Arecas City - Abatta : Le terrassement bientôt achevé</a>
          </h4>
          <p class="card-description"> Le terrassement de l’opération immobilière Arecas City 1 à la Riviera Abatta avance à grands pas.</p>
          <div class="ftr">
            <div class="author">
              <a href="#" style="color: red;"> <i class="fa fa-book"></i> <span>&nbsp;Lire plus</span> </a>
            </div>
            <div class="stats"> <i class="fa fa-clock-o"></i> 07 Avr 2021 </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-blog mb-5">
        <div class="card-image">
          <a href="#"> <img class="img" src="assets/Images/blog01.jpeg"> </a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h6 class="category text-success"> <span><i class="fa fa-newspaper-o"></i> Actualités </span> <span style="text-align: right;margin-left:60px;color: black;"><i class="fa fa-eye">  &nbsp;243 fois</i></span></h6>
          <h4 class="card-caption">
            <a href="#">Arecas 1 - Bingerville : Les villas duplex sont prêtes</a>
          </h4>
          <p class="card-description"> Les travaux de construction des villas duplex du programme Arecas 1 à Bingerville sont entièrement achevés. La S3I entend procéder à la remise des clés dans...</p>
          <div class="ftr">
            <div class="author">
              <a href="#" style="color: red;"> <i class="fa fa-book"></i> <span>&nbsp;Lire plus</span> </a>
            </div>
            <div class="stats"> <i class="fa fa-clock-o"></i> 28 Jan 2021 </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-blog mb-5">
        <div class="card-image">
          <a href="#"> <img class="img" src="assets/Images/blog01.jpeg"> </a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h6 class="category text-success"> <span><i class="fa fa-newspaper-o"></i> Actualités </span> <span style="text-align: right;margin-left:60px;color: black;"><i class="fa fa-eye"> &nbsp;39 fois</i></span></h6>
          <h4 class="card-caption">
            <a href="#">Arecas City - Abatta : Le terrassement bientôt achevé</a>
          </h4>
          <p class="card-description"> Le terrassement de l’opération immobilière Arecas City 1 à la Riviera Abatta avance à grands pas.</p>
          <div class="ftr">
            <div class="author">
              <a href="#" style="color: red;"> <i class="fa fa-book"></i> <span>&nbsp;Lire plus</span> </a>
            </div>
            <div class="stats"> <i class="fa fa-clock-o"></i> 07 Avr 2021 </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-blog mb-5">
        <div class="card-image">
          <a href="#"> <img class="img" src="assets/Images/blog01.jpeg"> </a>
          <div class="ripple-cont"></div>
        </div>
        <div class="table">
          <h6 class="category text-success"> <span><i class="fa fa-newspaper-o"></i> Actualités </span> <span style="text-align: right;margin-left:60px;color: black;"><i class="fa fa-eye"> &nbsp; 243 fois</i></span></h6>
          <h4 class="card-caption">
            <a href="#">Arecas 1 - Bingerville : Les villas duplex sont prêtes</a>
          </h4>
          <p class="card-description"> Les travaux de construction des villas duplex du programme Arecas 1 à Bingerville sont entièrement achevés. La S3I entend procéder à la remise des clés dans...</p>
          <div class="ftr">
            <div class="author">
              <a href="#" style="color: red;"> <i class="fa fa-book"></i> <span>&nbsp;Lire plus</span> </a>
            </div>
            <div class="stats"> <i class="fa fa-clock-o"></i> 28 Jan 2021 </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Liens Utiles</h6>

          <ul class="list">
            <li class="item">Immobilier</li>
            <li class="item">E-commerce</li>
            <li class="item">Voyage</li>
            <li class="item">Formation</li>
          </ul>

      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Horaires d'ouverture</h6>
        <!-- <div class="pt-3"> -->
          <ul class="list">
            <li class="item">Lundi - Vendredi: 08h30 à 17h00</li>
            <li class="item">Samedi: 08h30 à 15h00</li>

          </ul>
        <!-- </div> -->
      </div>


    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021 Tout droit reservé
     <a href="#">GStoreplus</a>.
        </p>
      </div>

      <!-- <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div> -->
    </div>
  </div>
</footer>




<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align: center;font-weight: bold;">
               <span style="text-transform: uppercase;color: red;">Nos Partenaires</span>
               <h3>Nos Différents Partenaires</h3>
           </div>
        </div>
    </div>
</div>


<div class="container">
   <section class="customer-logos slider" style="padding-top: 30px;">
      <div class="slide"><img src="../../assets/partenaires/pat1.png"></div>
      <div class="slide"><img src="../../assets/partenaires/pat2.png"></div>
      <div class="slide"><img src="../../assets/partenaires/pat3.png"></div>
      <div class="slide"><img src="../../assets/partenaires/pat4.png"></div>
      <div class="slide"><img src="../../assets/partenaires/pat5.png"></div>
      <div class="slide"><img src="../../assets/partenaires/pat1.png"></div>
      <div class="slide"><img src="../../assets/partenaires/pat2.png"></div>
      <div class="slide"><img src="../../assets/partenaires/pat3.png"></div>
      <div class="slide"><img src="../../assets/partenaires/pat4.png"></div>
   </section>
</div><br><br><br><br><br> -->
