
<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(to bottom left, #302244 0%, #ffffff 105%);">
    <div class="container">
      <h3 style="text-align: center;color: white;padding: 60px;padding-top: 80px; font-size: 45px;">Contacts</h3>
      <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
    </div>
</div><br><br>

<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8" style="text-align: center;">
          <span style="font-size: 20px;"> <b>GSTOREPLUS SARL</b> Pour tous vos problèmes de logement, contactez nous.</span
              >
          </div>
    </div><br><br>
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <span><i style="color: #ef4945;" class="fa fa-phone mt-4 fa-2x"></i></span>
                <h5 style="font-weight: bold;color: #ef4945;">Telephone</h5>
                <p><a href="tel:+2252723590439" class="font-size-2 d-block link-black-100">(+225) 27 23 59 04 39</a></p><hr>
            </div>
            <div class="text-center">
                <span><i style="color: #ef4945;" class="fa fa-map-marker fa-2x"></i></span>
                <h5 style="font-weight: bold;color: #ef4945;">Adresse</h5>
<!--
                <p>Non loin de la banque ECOBANK - Deux-plateaux - Vallon - Cocody <br>
-->
                <p>Abidjan Cocody - Cité des arts rue Marcelin yacé - immeuble C face à l'école EDHEG <br>
                  3ème étage porte 2 <br>
                    25 BP 1323 Abidjan 25</p><hr>
            </div>
            <div class="text-center">
                <span><i style="color: #ef4945;" class="fa fa-envelope fa-2x"></i></span>
                <h5 style="font-weight: bold;color: #ef4945;">Email</h5>
                <p><a href="mailto:info@gstoreplus.ci" class="font-size-2 d-block link-black-100 mb-1">info@gstoreplus.ci</a></p><hr>
            </div>
        </div>
        <div class="col-md-6">
            <div class="shadow-sm p-5 mb-5 bg-white rounded">
                <form method="POST" action="">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Votre nom et prenom ici">
                    </div><br>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email : xxx@gmail.hhh">
                    </div><br>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="L'objet du mail ici">
                    </div><br>
                    <div class="form-group">
                        <!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Votre message" rows="3"></textarea>
                    </div><br>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-block" style="background-color: #302244;color: white;" (click)="envoyer()">
                            Envoyer<i class="fa fa-check"></i></button>
                    </div>
                  </form>
              </div>
        </div>
    </div>
</div><br><br>


<div class="container-fluid">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31777.33691349497!2d-3.9776399!3d5.3914862999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sci!4v1616606997820!5m2!1sfr!2sci" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
