<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="main-content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Vous pouvez également nous contacter directement en remplissant le formulaire
                disponible ci-dessous</h4>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width" appearance="legacy">
                      <mat-label>Message adressé à</mat-label>
                      <mat-select>
                        <mat-option>

                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width" appearance="legacy">
                      <mat-label>Sujet du message</mat-label>
                      <mat-select>
                        <mat-option>

                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width" appearance="legacy">
                      <input matInput placeholder="Votre nom" type="text">

                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width" appearance="legacy">
                      <input matInput placeholder="Votre prenom" type="text">

                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width" appearance="legacy">
                      <input matInput placeholder="Votre téléphone" type="text">

                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width" appearance="legacy">
                      <input matInput placeholder="Votre email" type="text">

                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width" appearance="legacy">
                      <textarea matInput placeholder="Votre message" type="text"></textarea>

                    </mat-form-field>
                  </div>
                </div>
                <div class="bouton text-center">
                  <button type="submit" class="btn btn-lg">Envoyer</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="col-6">
      <div class="main-content">
        <div class="container-fluid">


          <div class="card">
            <div class="card-header card-header-danger">
              <h1 class="card-title">Nos bureaux</h1>
            </div>
            <div class="card-body">
              <div class="jumbotron">
                <h1 class="display-4">GSTOREPLUS SARL </h1>
                <h4 class="lead">GSTOREPLUS SARL est une société légalement constituée et spécialisée dans la Gestion
                  Immobilière ; le Foncier ; et la Construction Immobilière.
                  Nous offrons des sites de toutes natures et de toutes superficies de 400m2 et plus
                  Viabilisés,Semi- viabilisés,Approuvés( à l'état villageois)
                  Gstoreplus un Ami plus qu'un partenaire.</h4>
                <hr class="my-4">
                <p><strong>Non loin de la banque ECOBANK - Deux-plateaux - Vallon -
                  Cocody.</strong>
                  <br> <a href="" style="color: #191919 !important;margin-left: 8px;">25 BP 1323 Abidjan 25</a>
                </p>
                <div class="text-center pt-5" style="font-size: 1rem;">
                  <i class="fa fa-envelope" style="color: #191919 !important;margin-right: 23px;">
                    <a href="" style="color: #191919 !important;margin-left: 8px;">info@gstoreplus.cI</a>
                  </i>
                  <i class="fa fa-phone" style="color: #191919 !important;margin-right: 23px;">
                    <a href="" style="color: #191919 !important;margin-left: 8px;">(+225) 23 590 429 Standard</a>
                  </i>
                  <i class="fa fa-phone" style="color: #191919 !important;margin-right: 23px;">
                    <a href="" style="color: #191919 !important;margin-left: 8px;">(+225) 09 881 567 Service
                      commercial</a>
                  </i>
                  <i class="fa fa-home" style="color: #191919 !important;margin-right: 23px;">
                    <a href="" style="color: #191919 !important;margin-left: 8px;">Abidjan - Côte d’Ivoire</a>
                  </i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
