.container{
  margin-top: 100px;
}
.img1{

}
.cardAnnonce{
  box-shadow: 0 15px 25px -7px rgba(0,0,0,.09), 0 -12px 10px -10px rgba(0,0,0,.04);
  background: #fff;
  border: solid #dfdfdd;
  border-width: 0 .1rem .1rem 0;
  justify-content:center;
}
