<div class="container" *ngIf="!hide">
  <h1 >Entrer votre email</h1>
  <div class="row">
    <div class="col-md-12">
          <div class="container">
            <div class="row justify-content-center">
                <form [formGroup]="connexionForm"  (ngSubmit)="onSubmitEmail()">
                  <!-- Email input -->
                  <div class="form-outline">
                    <input name="" class="form-control" placeholder="Email" formControlName="email" type="text"
                           [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">l'adresse mail est obligatoire</div>
                    </div>
                  </div>
                  <br>
<!--                  &lt;!&ndash; Password input &ndash;&gt;-->
<!--                  <div *ngIf="hide">-->
<!--                  <div class="input-group" >-->
<!--                    <input name="" class="form-control" placeholder="Confirme password" type="password" formControlName="password"-->
<!--                           [ngClass]="{ 'is-invalid': submitted && f.password.errors }">-->
<!--                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">-->
<!--                      <div *ngIf="f.password.errors.required">Le mot de passe est obligatoire</div>-->
<!--                    </div>-->

<!--                  </div>-->
<!--                  <div class="input-group" >-->
<!--                    <input name="" class="form-control" placeholder="Confirme password" type="password" formControlName="confirmPassword"-->
<!--                           [ngClass]="{ 'is-invalid': submitted && f.password.errors }">-->
<!--                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">-->
<!--                      <div *ngIf="f.password.errors.required">La confirmation du mot de passe est obligatoire</div>-->
<!--                    </div>-->

<!--                  </div>-->
<!--                  </div>-->
                  <!-- 2 column grid layout for inline styling -->


                  <!-- Submit button -->
                  <div style="text-align: center;">
                    <button type="submit" class="btn btn-block" style="background-color: #302244;color: white;">
                      vérifier</button>
                    <div *ngIf="error" class="btn login_btn">{{error}}</div>
                  </div>
                <!--  <div style="text-align: center;"*ngIf="hide">
                    <button type="submit" class="btn btn-block" style="background-color: #302244;color: white;">
                     Modifier</button>
                  </div>
-->

                </form>

            </div>
          </div>
        </div>
  </div>
</div><br><br><br>
<div class="container" *ngIf="hide">
  <h1 *ngIf="hide">Entrer un mot de passe et la confirmation</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="row justify-content-center">
          <form [formGroup]="connexionForm"  (ngSubmit)="onSubmit()">
            <!-- Email input -->
           <!-- <div class="form-outline">
              <input name="" class="form-control" placeholder="Email" formControlName="email" type="text"
                     [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">l'adresse mail est obligatoire</div>
              </div>
            </div>
            <br>-->
            <!-- Password input -->
            <div *ngIf="hide">
              <div class="input-group" >
                <input name="" class="form-control" placeholder="Confirme password" type="password" formControlName="password"
                       [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Le mot de passe est obligatoire</div>
                </div>

              </div>
              <div class="input-group" >
                <input name="" class="form-control" placeholder="Confirme password" type="password" formControlName="confirmPassword"
                       [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">La confirmation du mot de passe est obligatoire</div>
                </div>

              </div>
            </div>
            <!-- 2 column grid layout for inline styling -->


            <!-- Submit button -->
<!--            <div style="text-align: center;">-->
<!--              <button type="submit" class="btn btn-block" style="background-color: #302244;color: white;">-->
<!--                vérifier</button>-->
<!--              <div *ngIf="error" class="btn login_btn">{{error}}</div>-->
<!--            </div>-->
            <div style="text-align: center;">
              <button type="submit" class="btn btn-block" style="background-color: #302244;color: white;">
                Modifier</button>
            </div>


          </form>

        </div>
      </div>
    </div>
  </div>
</div><br><br><br>
