

<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(to bottom left, #302244 0%, #ffffff 105%);">
    <div class="container">
      <h3 style="text-align: center;color: white;padding: 60px;padding-top: 80px; font-size: 45px;">Terrains</h3>
      <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
    </div>
</div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-1">
    <div class="wrap">
      <button routerLink="/devis" class="btn-btn button">Demander un Dévis</button>
    </div>
  </div>
  <div class="col-md-9">
  </div>
</div><br><br>




  <!--Main layout-->
  <main class="my-5">
    <div class="container">
      <!--Section: Content-->
      <section class="text-center">
        <h4 class="mb-5"><strong>Nos programmes fonciers</strong></h4>

      <!--  <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../../assets/img/blogs/blog1.jpg" class="img-fluid" />
                <a routerLink="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">Situé à Abidjan</div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Prix : ??? FCFA</h5>

                <p class="card-text">
                 &lt;!&ndash; Some quick example text to build on the card title and make up the bulk of the
                  card's content.&ndash;&gt;
                </p>
                <a  class="btn btn-primary" (click)="onDetailMaison()">Détails</a>
              </div>
            </div>
          </div>

         &lt;!&ndash; <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../../assets/img/blogs/blog2.jpg" class="img-fluid" />
                <a routerLink="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">Situé à Abidjan</div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Prix : ??? FCFA FCFA</h5>

                <p class="card-text">
                 &lt;!&ndash; Some quick example text to build on the card title and make up the bulk of the
                  card's content.&ndash;&gt;
                </p>
                <a  class="btn btn-primary" (click)="onDetailMaison()">Détails</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../../assets/img/blogs/blog3.jpg" class="img-fluid" />
                <a routerLink="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">Situé à Abidjan</div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Prix : ??? FCFA</h5>

                <p class="card-text">
                  &lt;!&ndash;Some quick example text to build on the card title and make up the bulk of the
                  card's content.&ndash;&gt;
                </p>
                <a class="btn btn-primary" (click)="onDetailMaison()">Détails</a>
              </div>
            </div>
          </div>&ndash;&gt;
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../../assets/img/blogs/blog4.jpg" class="img-fluid" />
                <a routerLink="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">Situé à Abidjan</div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Prix : ??? FCFA</h5>

                <p class="card-text">
                &lt;!&ndash;  Some quick example text to build on the card title and make up the bulk of the
                  card's content.&ndash;&gt;
                </p>
                <a  class="btn btn-primary" (click)="onDetailMaison()">Détails</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../../assets/img/blogs/blog5.jpg" class="img-fluid" />
                <a routerLink="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">Situé à Abidjan</div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Prix : ??? FCFA</h5>

                <p class="card-text">
                  &lt;!&ndash;Some quick example text to build on the card title and make up the bulk of the
                  card's content.&ndash;&gt;
                </p>
                <a  class="btn btn-primary" (click)="onDetailMaison()">Détails</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../../assets/img/blogs/blog6.jpg" class="img-fluid" />
                <a routerLink="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">Situé à Abidjan</div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Prix : ??? FCFA</h5>

                <p class="card-text">
                 &lt;!&ndash; Some quick example text to build on the card title and make up the bulk of the
                  card's content.&ndash;&gt;
                </p>
                <a  class="btn btn-primary" (click)="onDetailMaison()">Détails</a>
              </div>
            </div>
          </div>
        </div>-->
        <div class="row">
          <div class="col-md-4" *ngFor="let terrain of terrains">
            <div>
              <div class="card mb-2">
                <img class="card-img-top" [src]="terrain.path">
                <div class="card-body">
                  <h4 class="card-title">{{terrain.libelle}}</h4>
                  <p class="card-text">{{terrain.description}}</p>
                  <div class="demande col-md-8 offset-md-2">
                    <div  class="shadow p-3 mb-7 bg-white rounded" style="text-align: center; color: #1a237e" (click)="onDetailTerrain(terrain.id)">PLUS DE DETAIL</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Content-->

      <!-- Pagination -->
   <!--   <nav class="my-4" aria-label="...">
        <ul class="pagination pagination-circle justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>-->
    </div>
  </main>
  <!--Main layout-->
