<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(to bottom left, #302244 0%, #ffffff 105%);">
    <div class="container">
      <h1 style="text-align: center;color: white;padding: 60px;padding-top:80px;">Propriétés foncirères</h1>
    </div>
</div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-1">
    <div class="wrap">
      <button routerLink="/devis" class="btn-btn button" style="font-size: 15px">Effectuer une Demande</button>
    </div>
  </div>

</div><br><br>
<!--Main layout-->
  <main class="my-5">
    <div class="container">
      <!--Section: Content-->
      <section class="text-center">
        <h1 class="mb-5"><strong>Nos programmes fonciers</strong></h1>
        <div class="row">
          <div class="col-md-6" *ngFor="let terrain of terrains">
            <div>
              <div class="card mb-2">
                <img class="card-img-top" [src]="terrain.path">
                <div class="card-body">
                  <h4 class="card-title">{{terrain.libelle}}</h4>
                  <p class="card-text">{{terrain.description}}</p>
                  <div class="demande col-md-8 offset-md-2">
                    <div  class="shadow p-3 mb-7 bg-white rounded" style="text-align: center; color: #1a237e" (click)="onDetailTerrain(terrain.id)">PLUS DE DETAIL</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Pagination -->

    </div>
  </main>
