<div class="grande">
    <div class="container-fluid">
        <div class="row">
          <div class="logo">
            <img src="./assets/Images/Image1.jpeg" class="img-fluid" alt="">
          </div>
            <div class="col-md-8 text-description">
                <p><span>Bienvenue sur le portail du groupe GSTOREPLUS.</span></p>
                  <p>Utiliser ces liens pour acceder a nos differents services.</p>
            </div>
        </div>

        <div class="row lien-row">
            <div class="col-md-3">
                <button class="btn btn-primary lien-button">
                   <i class="fa fa-building"></i>
                   <a href="https://immo-gstoreplus.herokuapp.com/#/accueil">Immobilier</a>
                </button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary lien-button">
                   <i class="fa fa-graduation-cap"></i>
                  <a href="">Formation & Conseil</a>
                </button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary lien-button">
                   <i class="fa fa-shopping-cart"></i>
                  <a href="">E-commerce</a>
                </button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary lien-button">
                   <i class="fa fa-plane"></i>
                  <a href="">Voyage & Tourisme</a>
                </button>
            </div>
        </div>
    </div>
</div>

