<div class="grande">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-description">
                <p><span>Bienvennue</span> sur le portail du groupe GSTOREPLUS utiliser ces liens pour acceder a nos differents services.</p>
            </div>
        </div>
        <div class="row lien-row">
            <div class="col-md-3">
                <button class="btn btn-primary lien-button">
                   <i class="fa fa-building"></i>
                   <a routerLink="/accueil">Immobilier</a>
                </button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary lien-button">
                   <i class="fa fa-graduation-cap"></i>
                  <a href="">Academie</a>
                </button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary lien-button">
                   <i class="fa fa-shopping-cart"></i>
                  <a href="">E-commerce</a>
                </button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary lien-button">
                   <i class="fa fa-plane"></i>
                  <a href="">Voyage</a>
                </button>
            </div>

        </div>
    </div>
</div>
