<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand img-sm" href="https://www.gstoreplus.ci/"
       style="color: white; margin-left: 50px;margin-right: 50px;">
      <img src="/assets/img/logo.png"/>
    </a>
    <button class="navbar-toggler" type="button" style="background-color: white;" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
     <ul class="navbar-nav me-auto mb-4 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/accueil" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="/a-propos" routerLinkActive="active">A propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/foncier" routerLinkActive="active">Fonciers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/immobilier" routerLinkActive="active">Immobiliers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/investissement" routerLinkActive="active">Investissement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacts" routerLinkActive="active">Contacts</a>
        </li>
        <button mat-button [matMenuTriggerFor]="menu" *ngIf="!personne">Compte</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/inscription">Créer un compte</button>
          <button mat-menu-item routerLink="/connexion" >Se connecter</button>
        </mat-menu>
        <div class="dropdown" *ngIf="personne">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{personne.nom}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">{{personne.nomComplet}}</a>
            <a class="dropdown-item" href="#">{{personne.email}}</a>
            <div class="dropdown-divider"></div>
            <a  class="dropdown-item"  (click)="openDash(personne.id)" >Mon tableau de bord</a>
            <div class="dropdown-divider"></div>
            <a  class="dropdown-item"  (click)="openPaiement(personne.id)" >Mes paiements</a>
            <div class="dropdown-divider"></div>
            <a  class="dropdown-item"  (click)="logout()" >Déconnexion</a>
          </div>
        </div>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
        <button class="btn btn-outline-danger" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
