<div class="container-fluid">
    <div class="row">
        <div class="col-md-7" style="padding-left: 0px;padding-right: 0px;">
            <div class="cadre-image">
                <span class="mask"></span>
                <p class="titre">Make it simple, but <br><span>significant Lottery Display</span></p>
            </div>
        </div>
        <div class="col-md-5" style="padding-left: 0px;padding-right: 0px;">
            <div class="cadre">
                <div class="card-login">
                    <div class="text-right forgot">
                        <p><span style="color: #777777;font-size: 0.875rem;">Already a member ? </span><a class="loginText" routerLink="/login">Login</a></p>
                    </div>
                    <p class="font-weight-bold">Create a account</p>
                    <form class="pt-3">
                        <div class="form-group">
                            <label>Nom & Prénom</label>
                            <input type="email" formControlName="mail" class="form-control inputLogin" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" formControlName="mail" class="form-control inputLogin" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label>Mot de passe</label>
                            <input type="password" formControlName="password" class="form-control inputLogin">
                        </div>
                        <div class="form-group">
                            <label>Confirm password</label>
                            <input type="password" formControlName="mail" class="form-control inputLogin" aria-describedby="emailHelp">
                        </div>
                        <div class="text-center pt-3">
                            <button type="button" class="btn btn-primary btnValider" routerLink="/equipement">Connexion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>