<nav class="navbar navbar-expand-lg navbar-light" style="background: white">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/accueil" style="color: white;;margin-left: 100px;margin-right: 100px;"><img src="./assets/Images/logo.png" style="width: 87px;" class="img-fluid" alt=""></a>

    <div class="menu-wrap">
      <input type="checkbox" class="toggler"/>
      <div class="hamburger"  style="background: #072c75d7"><div></div></div>
      <div class="menu">
        <div>
          <ul>
            <li><a href="https://immo.gstoreplus.ci/#/accueil">GS Immobilier</a></li>
            <li><a href="https://vente.gstoreplus.ci/#/accueil">GS boutique</a></li>
            <li><a href="vente.gstoreplus.ci">GS Voyage</a></li>
            <li><a href="https://academie.gstoreplus.ci/#/accueil">GS Formation</a></li>
            <!-- <li><a href="#">Com</a></li> -->
          </ul>
        </div>
      </div>
    </div>

  </div>
</nav>
<app-acceuil></app-acceuil>
<router-outlet></router-outlet>
