
.titre{
    font-size: 16px;
    color: #4762f0;
    text-decoration: none;
}
.list{
    padding-left: 20px;
}
/* .fil-actu{
    color: #fff;
    font-weight: 600;
} */
.fil-actu{
/*     background-color: #e40421;
    padding: 5px 10px; */
    font-size: 0.875rem;
    font-weight: 600;
    color: #5973f8;
}