<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="titre-dashboard">Profil</h2>
                    <p style="color: #4762f0;"><span class="titre">CNI :</span> C 0000 0000 01</p>
                    <p><span class="titre">Nom :</span> Koffi</p>
                    <p><span class="titre">Prénom :</span> Ramatoulaye Aminata</p>
                    <p><span class="titre">Genre :</span>Masculin</p>
                    <p><span class="titre">Domicile :</span>Abidjan / Cocody Angré</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="titre-dashboard">Mode de paiement</h2>
                    <img src="./assets/Images/Visa_Logo.png" style="width: 37%;padding-bottom: 10px;" class="img-fluid">
                    <p><span class="titre">Montant :</span> 12 000 000 FCFA</p>
                    <p><span class="titre">Numéro du Reçu :</span>Ter202020102552n</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="titre-dashboard">Références du vendeur</h2>
                    <p style="color: #4762f0;"><span class="titre">CNI :</span> C 0000 0000 01</p>
                    <p><span class="titre">Nom :</span> Koné</p>
                    <p><span class="titre">Prénom :</span> Ramatoulaye Aminata</p>
                    <p><span class="titre">Genre :</span>Masculin</p>
                    <p><span class="titre">Domicile :</span>Abidjan / Cocody Angré</p>
                    <p><span class="titre">Numéro mobile :</span>+255 896 825 20</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 pt-4">
            <h3>Localisation Géographique de votre terrain</h3>
            <img src="./assets/Images/téléchargement.png" class="img-fluid" alt="">
            <h4 class="font-weight-bolder pt-3 ">Description du Terrain</h4>
            <ul class="list">
                <li>quibusdam. In, aspernatur culpa?</li>
                <li>quibusdam. In, aspernatur culpa?</li>
                <li>quibusdam. In, aspernatur culpa?</li>
                <li>quibusdam. In, aspernatur culpa?</li>
                <li>quibusdam. In, aspernatur culpa?</li>
            </ul>
        </div>
        <div class="col-md-2 pt-4">
            <span class="fil-actu">Terrain Disponible</span>
            <div class="pt-4">
                <span>Référence du terrain</span>
                <img src="./assets/Images/Image7.jpeg" class="img-fluid" alt="">
            </div>
            <div class="pt-4">
                <span>Référence du terrain</span>
                <img src="./assets/Images/Image7.jpeg" class="img-fluid" alt="">
            </div>
            <div class="pt-4">
                <span>Référence du terrain</span>
                <img src="./assets/Images/Image7.jpeg" class="img-fluid" alt="">
            </div>
            <div class="pt-4">
                <span>Référence du terrain</span>
                <img src="./assets/Images/Image7.jpeg" class="img-fluid" alt="">
            </div>
            <div class="pt-4">
                <span>Référence du terrain</span>
                <img src="./assets/Images/Image7.jpeg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>