<div class="container cadreApropos">
    <div class="row pb-3" style="padding-top: 40px;">
        <div class="col-md-12 text-center">
            <h2 class="titreApropos">Qui sommes nous ?</h2>
        </div>
    </div>
    <div class="row justify-content-center" style="padding-bottom: 100px;">
        <div class="col-md-8 pt-3">
            <img src="./assets/Images/undraw_team_work_k80m.svg" class="img-fluid" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <span class="mobileVision"><img src="./assets/Images/icon-vision.png" class="img-fluid" alt=""></span>
            <div style="display: flex;padding-top: 3rem;">
                <div>
                    <h3 class="Titrepropos">Nous sommes des professionnels</h3>
                    <p style="color: #444444 !important;">Une équipe d’expert dans la conception, le suivi et la réalisation de différents projets de développement.

                        Nous gérons tous nos programmes en organisant, dirigeant des personnes de valeur et avec une technologie de pointe de dernière génération.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <span class="mobileVision"><img src="./assets/Images/icon-mission.png" class="img-fluid" alt=""></span>
            <div style="display: flex;padding-top: 3rem;">
                <div>
                    <h3 class="Titrepropos">Une expertise diversifiée et maitrisée</h3>
                    <p style="color: #444444 !important;">Nous offrons des services de conception de programme selon le besoin du moment, des programmes bien structurés. Notre expertise part de la conception à la construction de logements dans nouveaux lotissements et à l’aménagement de terrains nus.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <span class="mobileVision"><img src="./assets/Images/icon-background.png" class="img-fluid" alt=""></span>
            <div style="display: flex;padding-top: 3rem;">
                <div>
                    <h3 class="Titrepropos">La satisfaction du client au cœur de notre activité</h3>
                    <p style="color: #444444 !important;">Nos différents programmes visent à créer un cadre de vie sain, toujours préoccuper par l’épanouissement de nos semblables. Notre clientèle est le centre de toutes nos actions. L’amour vrai crée de l’amitié, d’où GSTOREPLUS-IMMOBILIER SARL, un ami plus qu’un partenaire.</p>
                </div>
            </div>
        </div>
    </div>
</div>