.cadreApropos {
/*     min-height: 620px;
    background-color: #dceaf5 !important; */
}
.titreApropos {
    position: relative;
    color: #000000 !important;
    font-size: 1.815rem;
    font-weight: 600;
}
.Titrepropos {
    font-weight: 600 !important;
    font-size: 1.255rem;
    line-height: 1.5;
    color: #444444;
    margin-bottom: .625rem !important;
}