

<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(to bottom left, #302244 0%, #ffffff 105%);">
    <div class="container">
      <h3 style="text-align: center;color: white;padding: 60px;padding-top: 80px; font-size: 45px;">Blogs</h3>
      <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
    </div>
</div><br><br>




  <!--Main layout-->
  <main class="my-5">
    <div class="container">
      <!--Section: Content-->
      <section class="text-center">
        <h4 class="mb-5" style="text-decoration: underline"><strong>Derniers Postes</strong></h4>

        <div class="row" *ngFor="let b of blocs">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <video controls>
                  <source [src]="b.path" type="video/mp4" width="100%" height="100%">
                </video>

                <a routerLink="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{b.libelle}}</h5>
                <p class="card-text">{{b.description}}</p>
              </div>
            </div>
          </div>


        </div>

      </section>
      <!--Section: Content-->

      <!-- Pagination -->
    </div>
    <hr class="trait">
    <div class="row" *ngFor="let bloc of bloc">
      <div class="col-md-6">
             <article class="board-left">
                 <div class="cadre-left">
                     <img [src]="bloc.path" class="img-fluid">
                 </div>
                 <div class="cadre-left">
                     <span class="subtitle">
                         {{bloc.libelle}}
                     </span>
                     <a href="" class="art-title">
                       {{bloc.description}}
                     </a>
                 </div>
             </article>
         </div>
     </div>
  </main>
  <!--Main layout-->
