<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Demande de devis sans engagement</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-8">
        <p> Évitez la corvée d'envoyer une demande de devis à chaque professionnel de Côte d’Ivoire:
          Rédigez une seule demande et Gstoreplus  l'enverra à tous les professionnels du secteur approprié.
          Ils vous retournerons leurs devis que vous pourrez sélectionner sereinement.</p>
      </div>
    </div>

    <p class="lead">
      <button class="btn  btn-lg" href="#" role="button"> En savoir plus</button>
    </p>
  </div>
</div>
<div class="main-content">
  <div class="container-fluid">
    <div class="row  justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Remplissez les champs pour la demande de devis</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Selection une categorie</mat-label>
                    <mat-select>
                      <mat-option></mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Selection une ville</mat-label>
                    <mat-select>
                      <mat-option >

                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" type="text" >

                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nom" type="text" >

                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Prenom" type="text" >
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Description</label>
                  <mat-form-field class="example-full-width">
                    <textarea matInput type="text"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="bouton text-center">
                <button   type="submit" class="btn btn-lg">Envoyer votre demande</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

