<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(to bottom left, #302244 0%, #ffffff 105%);">
    <div class="container">
      <h1 style="text-align: center;color: white;padding: 60px;padding-top: 80px;">Propriétés immobilières</h1>
    </div>
</div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-1">
    <div class="wrap">
      <button routerLink="/devis" class="btn-btn button" style="font-size: 15px">Effectuer une Demande</button>
    </div>
  </div>

</div>
<br><br>
<!--Main layout-->
  <main class="my-5">
    <div class="container">
      <!--Section: Content-->
      <section class="text-center">
        <h1 class="mb-5"><strong>Nos programmes immobiliers</strong></h1>

        <div class="row">
          <div class="col-lg-4 col-md-4 mb-4" *ngFor="let maison of maisons">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img [src]="maison.path" alt="Card image cap" class="img-fluid" />
                <a routerLink="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">Situé à {{maison.ville.libelle}}</div>
                </a>
              </div>
              <div class="card-body">
                <h1 class="card-title" style="color: #7b1fa2" >{{maison.libelle}} {{maison?.maisonType}}</h1>

                <p class="card-text">Surface utile: {{maison?.surfaceUtile}}

                </p>
                <p class="card-text"> Surface terrain: {{maison?.surfaceTerrain}}

                </p>
                <p class="card-text">Coût de vente: {{maison?.prix | number}} CFA</p>
                <a  class="btn btn-primary" (click)="onDetailMaison(maison.id)">Détails</a>
              </div>
            </div>
          </div>


        </div>


      </section>
      <!--Section: Content-->

      <!-- Pagination -->
    <!--  <nav class="my-4" aria-label="...">
        <ul class="pagination pagination-circle justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>-->
    </div>
  </main>
  <!--Main layout-->
