<div class="container-fluid">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/kimg.jpg" class="d-block w-100" alt="First slide">
      </div>
      <div class="carousel-item">
        <img src="assets/img/luxury-home.jpg" class="d-block w-100" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img src="assets/img/luxury-home-2409518_640.jpg" class="d-block w-100" alt="Third slide">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div class="container">
     <div class="row">
        <div class="col-md-6 col-lg-4">
            <div style="text-align: center;">
                <span><i class="fa fa-map-marker" aria-hidden="true" style="font-size: 50px;color: red;"></i></span>
                <h4>Géolocalisation</h4>
                <p>Voir son terrain en temps réel.</p>
        </div>
        </div>
          <div class="col-md-6 col-lg-4">
            <div style="text-align: center;">
                <span><i class="fa fa fa-handshake-o" aria-hidden="true" style="font-size: 50px;color: red;"></i></span>
                <h4>Livraison garantie</h4>
                <p>Confiez nous tout et nous vous livrons en toute sécurité et dans le délai.</p>
            </div>
        </div>
          <div class="col-md-6 col-lg-4">
            <div style="text-align: center;">
                <span><i class="fa fa-check" aria-hidden="true" style="font-size: 50px;color: red;"></i></span>
                <h4>Rapide et éfficace</h4>
                <p>Avec notre équipe dynamique, avec nous c'est la rapidité et l'éfficacité.</p>
            </div>
        </div>
     </div>
 </div><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align: center;font-weight: bold;">
               <h3><span style="text-transform: uppercase;color: red;">Nos Programmes Fonciers</span></h3>

           </div>
        </div>
    </div>
</div>
<div class="container my-4">
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">



    <div class="carousel-inner" role="listbox" >

      <div class="carousel-item active">

        <div class="row">
          <div class="col-md-6" *ngFor="let terrain of terrains">
            <div>
            <div class="card mb-2">
              <img class="card-img-top" [src]="terrain.path">
              <div class="card-body">
                <h4 class="card-title">{{terrain.libelle}}</h4>
                <p class="card-text">{{terrain.description}}</p>

              </div>
            </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->

    </div>
  </div>
</div>
  <div class="demande col-md-8 offset-md-2">
    <div  class="shadow p-3 mb-7 bg-white rounded" style="text-align: center; color: #1a237e" (click)="voirTerrain()">VOIR PLUS DE TERRAINS</div>
  </div>

  <br><br>


<div class="container my-4">
  <!--Carousel Wrapper-->
</div><br><br>


<br><br><br>


<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div style="text-align: center;font-weight: bold;">
             <span style="text-transform: uppercase;color: red;">Maisons</span>
             <h3 style="text-decoration: underline">Nos Différentes Maisons</h3>
         </div>
      </div>
  </div>
</div>
<div class="container my-4">
  <!--Carousel Wrapper-->
  <div id="multi-item-example2" class="carousel slide carousel-multi-item" data-ride="carousel">
    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-6"  *ngFor="let flashMaison of flashMaisons">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img [src]="flashMaison.path" alt="Card image cap" class="img-fluid" />
                <a routerLink="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">Situé à {{flashMaison.ville.libelle}}</div>
                </a>
              </div>
              <div class="card-body">
                <h1 class="card-title" style="color: #7b1fa2" >{{flashMaison.libelle}} {{flashMaison?.flashmaisonType}}</h1>

                <p class="card-text">Surface utile: {{flashMaison?.surfaceUtile}}

                </p>
                <p class="card-text"> Surface terrain: {{flashMaison?.surfaceTerrain}}

                </p>
                <p class="card-text">Coût de vente: {{flashMaison?.prix | number}} CFA</p>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
  <div class="demande col-md-8 offset-md-2">
    <div  class="shadow p-3 mb-7 bg-white rounded" style="text-align: center; color: #1a237e" (click)="voirMaison()">VOIR PLUS DE MAISONS</div>
  </div>
  <br><br>
</div>
